
<!-- <table id='sizing-table' class="sizing-table">
    <tr>
        <td>
            <label>title</label>
            <div class="input-group sizing">
                <input type="text" class="form-control" >
                <div class="input-group-addon">in.</div>
            </div>
        </td>

        <td>
            <label>title</label>
            <div class="input-group sizing">
                <input type="text" class="form-control" >
                <div class="input-group-addon">in.</div>
            </div>
        </td>
    </tr>

    <tr>
        <td>
            <label>title</label>
            <div class="input-group sizing">
                <input type="text" class="form-control" >
                <div class="input-group-addon">in.</div>
            </div>
        </td>
        
        <td>
            <label>title</label>
            <div class="input-group sizing">
                <input type="text" class="form-control" >
                <div class="input-group-addon">in.</div>
            </div>
        </td>
    </tr>
</table> -->